/* ベースのフォント設定 */
body {
  font-family: "Arial", "Meiryo", sans-serif;
  font-size: 20px; /* ルート要素のフォントサイズ */
  text-align: center; /* テキストを中央寄せ */
}

/* フォントカラー設定 */
.blue {
  color: skyblue; /* スカイブルー */
}

.pink {
  color: rgb(255, 192, 203); /* ピンク */
}

/* h1の装飾 */
h1 {
  font-family: 'Josefin Sans', sans-serif; /* Googleフォント */
  font-size: calc(20px * 2); /* ルート要素の2倍のフォントサイズ */
  letter-spacing: 1.2em; /* 文字間は文字の大きさの1.2倍 */
  text-align: center; /* テキストを中央寄せ */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* 影を付ける */
  border-bottom: 3px solid rgb(115, 115, 114); /* h1の下に3pxの実線 */
  padding-bottom: 10px; /* 下部の余白 */
}

/* id="basic" のdiv内のスタイル */
#basic h2.pink {
  color: rgb(255, 192, 203); /* ピンク */
}

#basic h2.blue {
  color: skyblue; /* スカイブルー */
}

/* p要素の装飾 */
#basic p {
  font-weight: normal; /* すべてのp要素のフォントを通常に */
}

#basic p:nth-of-type(1),
#basic p:nth-of-type(2),
#basic p:nth-of-type(3) {
  font-weight: bold; /* 「侍 太郎」「1990年1月1日」「O型」を太字に */
}

/* h2の装飾（その他の見出し） */
h2.pink {
  color: rgb(255, 192, 203); /* ピンク */
}

h2.blue {
  color: skyblue; /* スカイブルー */
}

/* pタグの装飾（その他のテキスト） */
p {
  text-align: center; /* テキストを中央寄せ */
}
